@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>&#8470;</span>
            </th>
            <th>
                Name
            </th>
            <th>
                Quanity
            </th>
            <th>
                Price
            </th>
            <th>
                TotalPrice
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details_modal_@item.Id">
                        Details
                    </button>
                    <partial name="_DetailsPartial" model="item"></partial>
                </td>
                <td>
                    <form asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
